.l-coursecontent {
	.panel {
		padding-bottom: 20px;

		.alert.alert-success {
			margin-left: 20px;
			margin-right: 20px;

			.l-coursecontent-file {
				width: 80%;
				padding-left: 10px;
				border-left: 1px solid #009688;
			}
		}

		.upload-image {
			float: left;
			width: 200px;
			margin-left: 10px;
		}

		.common-info {
			margin-left: 220px;
		}

		.common-info-title {
			height: 50px;
		}

		.common-info-desc {
			height: 165px;
		}

		.dispath-course {
			margin-top: 50px;
		}

		.media.media-sm .media-object {
			width: 64px;
			height: 64px;
		}
	}
}